ol
{
float:left;
margin:0 5px;
}
tr{
  text-align: center;
  width:33%;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
th {
    background-color: #000;
    color: white;
}
img{
  padding: 20px 0px;
}
 th, td {
    border: 1px solid black;
}
form{
  padding: 20px;
}